* {
  margin: 0;
  padding: 0;
  font-family:"DINOT", YuGothic,"游ゴシック体","Yu Gothic", sans-serif;
}
ul, li {
  list-style: none;
}
html {
  font-size: 16px;
}
body {
  height: 100%;
  min-height: 500px;
  position: relative;
}

canvas {
  border: 3px solid rgb(100, 100, 100);
  margin: auto;
  display: block;
}
#canvas_wrapper {
  width: 100%;
}

#counter {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 400px;
  margin-top: -100px;
  margin-left: -200px;
  display: table;
}
#counter p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 10.0rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

#help {
  width: 200px;
  font-size: 0.8rem;
  border: 3px solid rgb(130, 130, 130);
  background-color: white;
  position: absolute;
  float: right;
  right: 30px;
  bottom: 30px;
}
#help ul {
  margin: 1rem;
}
#help li {
  margin: 0.5rem 0;
}

